@import "tailwindcss";

@theme {
  --font-sans: "Inter", "sans-serif";
  --font-poppins: "Poppins", "sans-serif";
  --color-primary-50: #f4f7fb;
  --color-primary-100: #e7edf5;
  --color-primary-200: #ccd8e7;
  --color-primary-300: #a8bbd2;
  --color-primary-400: #7390b1;
  --color-primary-500: #496b92;
  --color-primary-600: #28476f;
  --color-primary-700: #203b62;
  --color-primary-800: #173256;
  --color-primary-900: #102a56;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins;
  }
}
